<div class="inner cover">
    <h1 class="cover-heading"><%= pp @course.summary %></h1>
    <p class="lead">
        <%= @course.description %>
    </p>
    <p class="lead">
    Offered: <%= @course.offered.map { |t| t.name.downcase }.join ', ' %>
    </p>
</div>
